---
Checks: '
  *,
  -abseil-string-find-str-contains,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -*braces-around-statements,
  -bugprone-easily-swappable-parameters,
  -cert-env33-c,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-diagnostic-unused-macros,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -fuchsia-trailing-return,
  -google-runtime-int,
  -google-runtime-references,
  -hicpp-member-init,
  -hicpp-move-const-arg,
  -hicpp-multiway-paths-covered,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-uppercase-literal-suffix,
  -hicpp-vararg,
  -llvm-else-after-return,
  -llvm-header-guard,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -llvm-qualified-auto,
  -*-magic-numbers,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -*namespace-comment,
  -*namespace-comments,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
'
CheckOptions:
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           '1'
  - key:             hicpp-special-member-functions.AllowSoleDefaultDtor
    value:           '1'
---
